html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: black;
}

#window {
	position: relative;
	width: 1080px;
	height: 1920px;
	margin: auto;
	background-image: url("/global/background.png");
	background-repeat: no-repeat;
	background-size: cover;
}

img.fixed {
	position: absolute;
	top: 0;
	left: 0;
}
